@media (min-width: 600px) {
    .card {
      width: 45%;
    }
  }
  
  /* 화면의 너비가 900px 이상일 때 적용될 스타일 */
  @media (min-width: 900px) {
    .card {
      width: 30%;
    }
  }
#top{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 230px;
    margin-bottom: 60px;
    margin-top: 70px;    
}

#title-img{
    width: 300px;    
    margin-top: 10px;
}

#text-search{
    margin-top: 20px;
    width: 1000px;
    height: 50px;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 15px;
    border:solid green 1px;
    padding-left: 10px;
}

#text-search:focus{
    outline-color: green;
}


#text-btn{
    margin-top: 20px;
    margin-left: 10px;
    width: 80px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 1.7px black;
    background-color: transparent;
}

#text-btn:hover{
    border: solid 1.7px rgb(250, 250, 250);
    background-color: rgb(164, 229, 164);
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    overflow: hidden; 
    /* 추가 */
    /* margin-top: 200px; */
}

.movie{
    border-radius: 10px;
    

}

#title{
    margin-top: 18px;
    font-weight: bolder;
    font-size: 20px;
}

#card {    
    display: flex;
    width: 600px;
    height: 300px;
    margin: 30px auto;
    border : solid 1px rgb(231, 255, 234);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgb(143, 143, 143);
    background-color: rgb(247, 255, 247);
    
}

#card:hover {
    background-color: rgb(204, 244, 204);
    transition: 0.5s;
    cursor: pointer;
}


#incard{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;   
}

#poster{
    width: 200px;
    height: 280px;
    margin: 10px;    
    border-radius: 10px;
}

#view{
    width: 300px;
    overflow: hidden;
    
}
