
.title {
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    
    padding: 20px;
    margin-bottom: 0px;
}
.label {
    text-align: center;
    border-radius: 10px;
    
    font-size: 20px;
    padding: 20px;
}
.movie{
    border-radius: 10px;
    
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */

}
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    overflow: hidden; /* 추가 */
}
#title{
    font-weight: bolder;
}
#card {    
    
    width: 400px;
    margin: 30px auto;
    border : solid 1px white;
    border-radius: 10px;
    text-align: center;
}

div > img{
    width: 300px;
    height: 200px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
#view{
    width: 300px;
    margin: 30px auto;
}
#search-input{
    height: 20px;
}
